kube-prometheus-stack:
  kube-state-metrics:
    enabled: true
    kubeRBACProxy:
      enabled: false
  prometheusOperator:
    enabled: true
  crds:
    enabled: false  
  nodeExporter:
    enabled: false
  fullnameOverride: "prom"
  prometheus:
    thanosService:
      enabled: false
    fullnameOverride: "prom"
    prometheusSpec:
      thanos: 
        objectStorageConfig:
          secret: 
            type: S3
            config:
              bucket: "thanos-test"
              endpoint: "minio.minio.svc.cluster.local:9000"
              access_key: "admin"
              secret_key: "adminadmin"
              insecure: true
thanos:
  objstoreConfig:  |-
      type: S3
      config:
        bucket: "thanos-test"
        endpoint: "minio.minio.svc.cluster.local:9000"
        access_key: "admin"
        secret_key: "adminadmin"
        insecure: true
        signature_version2: false  
  query:
    dnsDiscovery:
      sidecarsService: "prom-thanos-discovery"
      #sidecarsNamespace: "{{.namespace}}"
      sidecarsNamespace: "shob"
  queryFrontend:
    enabled: false
  compactor:
    enabled: false
  storegateway:
    enabled: false
  ruler:
    enabled: false
    # alertmanagers:
    #   - http://prom-alertmanager.{{.namespace}}.svc.cluster.local:9093    
    alertmanagers:
      - http://prom-alertmanager.shob.svc.cluster.local:9093
    
    existingConfigmap: "prometheus-ruler-rules"
  receive:
    enabled: false
